* {
    background-color: lightblue;
}

.intro {
    color: green;
    font-style: italic;
    font-size: 20px;
}

.ul {
    
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: "sans-serif", serif;
}

.ol {
    color: red;
    font-size: 20px;

}

.one {
    color: green;
}

.two {
    color: white;
}

.three {
    color: red;
}